.cases {
  padding-top: 100px;

  &__title {
    text-align: center;
    @include section-title;
    margin-bottom: 34px;
  }
}

.case {
  position: relative;
  min-width: 290px;
  max-width: 340px;
  height: 190px;
  border-radius: 19px;
  overflow: hidden;

  &__image {
    width: 100%;
    height: 100%;
  }

  &__play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}