* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background-color: transparent;
  letter-spacing: 1px;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

button {
  padding: 0;
  border: none;
  color: inherit;
  cursor: pointer;
  background-color: transparent;
}

a {
  text-decoration: none;
}

strong {
  font-weight: 700;
}

input {
  border: none;
  outline: none;
}