.pluses {
  position: relative;
  z-index: 2;
  padding-top: 60px;

  &__container {
    padding: 0 20px;

    @media (min-width: 768px) {
      padding: 0;
    }
  }

  &__list {
    display: grid;
    grid-row-gap: 15px;

    @media (min-width: 768px) {
      grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
      grid-column-gap: 15px;
    }
  }

  &__card {
    display: flex;
    grid-column-gap: 10px;
    align-items: center;
    @include default-block;
    @include scale-on-hover;
  }
}

.card {
  &__main {
    display: grid;
    grid-row-gap: 10px;
  }

  &__title {
    @include card-caption;
    text-transform: uppercase;
    color: $grey-main;
  }

  &__text {
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    color: $grey-light;
  }
}